body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.home-container {
  position: relative;
  height: 100vh;
  background-image: url('../images/donut-box.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 99vw;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lilita One','Ga Maamli', sans-serif;
  margin-bottom: 30px;
}

.text-overlay {
  max-width: 80%;
  text-align: center;
  color: white;
}

.text-overlay h1 {
  font-family: 'Lilita One', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.text-overlay p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.button-group {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.order-online-btn, .seasonal-flavors-btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.order-online-btn {
  background-color: #009fe3;
  color: white;
}

.order-online-btn:hover {
  background-color: #0088c1;
}

.seasonal-flavors-btn {
  background-color: #ff4b8b;
  color: white;
}

.seasonal-flavors-btn:hover {
  background-color: #e13b73;
}
